/* Your styles should be mobile-first and responsive */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Structure */
body {
  background: url("images/wallpaper.jpg") no-repeat center fixed;
  background-size: cover;
  font-family: Monsterrat;
}

header {
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
}

footer {
  justify-content: center;
  text-align: center;
}

/* Start Page */
.start-quiz-page, form, .results-page {
  display: block;
  background: rgba(255, 255, 255, 0.5);
  padding: 2%;
  margin-right: 15%;
  margin-left: 15%;
}

.start-quiz-button, .restart-quiz-button {
  text-align: center;
  padding: 2%;
}

legend {
  font-weight: bold;
}

.currentQuestion {
  display: block;
}


/* Type */
h1 {
  font-size: 38px;
  color: whitesmoke;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

ul {
  list-style: none;
}

/* Elements */
img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.answers-container .correct-answer .wrong-answer img {
  display: block;
  max-width: 50%;
  justify-content: center;
}

/* Buttons */

#next-question-btn {
  display: none;
}

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/